{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container pt-4">
    <div class="p-5 rounded-pill text-center bg-cherry">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <!-- Event Name -->
            <div class="form-group">
                {{ wtf.form_field(form.name) }}
            </div>

            <!-- Event Description -->
            <div class="form-group">
                {{ wtf.form_field(form.description) }}
            </div>

            <!-- Event Image -->
            <div class="form-group">
                {{ wtf.form_field(form.image) }}
            </div>

            <!-- Start Time -->
            <div class="form-group">
                {{ wtf.form_field(form.start_time) }}
            </div>

            <!-- End Time -->
            <div class="form-group">
                {{ wtf.form_field(form.end_time) }}
            </div>

            <!-- Event Status -->
            <div class="form-group">
                {{ wtf.form_field(form.event_status) }}
            </div>

            <!-- Submit Button -->
            <div class="container text-center py-3">
                {{ form.submit(class="btn btn-cherry rounded-pill px-4 py-0") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
