{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}
{% from 'bootstrap5/form.html' import render_form,render_field%}{% from 'bootstrap5/form.html' import render_form,render_field%}

{% block content %}
    <!--------------------------- MAIN --------------------------------->
    <div class="container pt-4">
    
        <!-- START: Container for all forms -->
        <div class="p-5 rounded-pill text-center bg-cherry">
          <form method=post>
            <dl>
            {{render_form(form)}}
            </dl>
          </form>
      </div>
  </form>
    <!--------------------------- MAIN --------------------------------->

    {% endblock %}