<!doctype html>
{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}

{% block content %}
<!-------- START: Pill-shaped search bar -------->
<div class="p-4 rounded-pill text-center bg-white m-0">
  <div class="row mx-2">
    <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}" >
      <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
      <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
      <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
    </form>
  </div>
</div>
<!-------- END: Pill-shaped search bar -------->
<div class = "d-flex justify-content-center my-4">
  <div class="h5">or browse by popular tags</div>
</div>
<!-------- START: Album -------->
<!-- Tabbed navigation -->
<div class="row p-0 mx-0">
  <div class="col m-0 p-0">
    <ul class="nav nav-tabs nav-fill">
      {% if active == "All" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='All')}}">All upcoming</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='All')}}">All upcoming</a>
      </li>
      {% endif %}

      {% if active == "public talk" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='public talk')}}">Public Talks</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='public talk')}}">Public Talks</a>
      </li>
      {% endif %}

      {% if active == "workshop" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='workshop')}}">Workshops</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='workshop')}}">Workshops</a>
      </li>
      {% endif %}

      {% if active == "trivia" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='trivia')}}">Trivia</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='trivia')}}">Trivia</a>
      </li>
      {% endif %}

      {% if active == "competition" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='competition')}}">Competitions</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='competition')}}">Competitions</a>
      </li>
      {% endif %}

      {% if active == "social" %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('main.index', active_tab='social')}}">Social</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('main.index', active_tab='social')}}">Social</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

{% if events|length > 0 %}
<!-- Actual event cards -->
<div class="row m-0 bg-cherry p-4 rounded-pill-bottom">
  {% for event in events %}
  <div class="col">
    <div class="card position-relative" style="width: 18rem;">
      <div class="item">
        <!-- tags on top of cover image -->
        <div class="tag-group mx-2">
            <div class="p2 tag disabled">{{event.status}}</div>
        </div>
        <!-- cover image -->
        <img src="{{'static/img/'+event.cover_image_path}}", class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.description}}</p>
        <a href="{{ url_for('main.view_event', target_event=event.id) }}" class="btn btn-primary cherry">See details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<!-------- END: Album -------->
{% endblock %}